---
layout: page
title: About Me
---

<h1 class="content-title">{{page.title}}</h1>

<hr>

<div class="has-text-centered">
    <img src="{{site.about-photo-path}}" width="800" height="600" alt="Personal About Me Photo">
</div>

{% for item in site.data.about.paragraphs %}

    <p class="content-text">{{item.text}}</p>

    <br>

{% endfor %}

<p class="content-text">{{site.data.about.interests.starter}}</p>

<ul>
    {% for item in site.data.about.interests.content %}

        <li class="content-text content-list-item">{{item.text}}</li>

    {% endfor %}
</ul>