<nav class="navbar is-transparent" aria-label="main navigation">

    <div class="navbar-brand">

        <a class="navbar-item image" href="{{site.url}}">
            <img src="{{site.logo-path}}" alt="JL" style="width: 58px; height: 28px;">
        </a>

        <div class="navbar-burger burger has-text-white" data-target="navbarOptions">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>

    <div id="navbarOptions" class="navbar-menu is-transparent">

        <div class="navbar-start" style="flex-grow: 1; justify-content: center;">

            {% for item in site.data.navigation %}
            <a href="{{item.link}}" class="navbar-item">
                <b class="has-text-white">{{ item.name }}</b>
            </a>
            {% endfor %}

        </div>

        <div class="navbar-end">


            <div class="navbar-item">
                {% for item in site.data.social %}
                <div style="padding-left: 0.75rem; padding-right: 0.75rem; display: inline-block;">
                <a href="{{item.link}}" class="icon">
                    <i class="{{item.icon}}" style="color: white;"></i>
                </a>
                </div>
                {% endfor %}
            </div>


        </div>

    </div>

</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>