.is-transparent {
  background-color: transparent;
}

.is-fullheight {
  height: 100%!important;
}

.is-fullwidth {
  width: 100%!important;
}

.align-stretch {
  align-items: stretch!important;
}

.content-list-item {
  list-style-type: disc;
  margin-left: 20px;
}