.opaque-title-pane {
  margin: auto;
  padding: 25px;
  background-color: $primary-colour-opaque;
  border-style: solid;
  border-width: 5px;
  border-color: $secondary-colour;
}

@media (max-width: 768px) {
  .opaque-title-pane {
    margin: auto 0 auto 0;
    width: 100%;
    border-width: 5px 0 5px 0;
  }
}