.home-title {
  font-weight: 900;
  letter-spacing: 10px;
  font-size: 90px;
  color: $secondary-colour;
}

@media (max-width: $mobile-breakpoint) {
  .home-title {
    font-size: 42px;
    letter-spacing: 3px;
    color: $secondary-colour;
  }
}

.home-sub-title {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
  color: $secondary-colour;
}

@media (max-width: $mobile-breakpoint) {
  .home-sub-title {
    font-size: 14px;
    font-weight: 500;
    color: $secondary-colour;
  }
}

.content-title {
  font-weight: 600;
  font-size: 42px;
  color: $secondary-colour;
}

.content-sub-title {
  font-weight: 600;
  font-size: 30px;
  color: $secondary-colour;
}

.content-text {
  color: $secondary-colour;
}