---
---

//Global SASS variables
$primary-colour: rgb(0,0,0);
$primary-colour-opaque: rgba(0,0,0,0.8);
$secondary-colour: rgb(255,255,255);
$secondary-colour-opaque: rgba(255,255,255,0.8);
$home-background-image-url: url({{site.home-background-path}});
$mobile-breakpoint: 768px;

//import SASS partials
@import "backgrounds";
@import "misc";
@import "panes";
@import "parallax";
@import "text";