---
layout: default
---
<div style="overflow: hidden;">

<section class="hero is-fullheight home-hero">

    <div class="hero-head">

        {% include navbar.html %}

    </div>

    <div id="parallax-scene" class="hero-body is-paddingless">

        {% for item in site.data.parallax %}
        <div class="parallax-layer" data-depth="{{item.depth}}">
            <div class="parallax-image" style="background-image: url('{{item.path}}');"></div>
        </div>
        {% endfor %}

        <div class="parallax-layer">

                {{ content }}

        </div>

    </div>

</section>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
<script>
    var scene = document.getElementById('parallax-scene');
    var parallaxInstance = new Parallax(scene);
</script>